*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
:root{
    --main-color:#ff9f0d;
    --text-color:#fff;
    --other-color:#212121;
    --second-color:#9e9e9e;
    --bg-color:#111111;
    --big-font:4.5rem;
    --h2-font:2.6rem;
    --p-font:1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);

}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:black;
    padding: 30px 14%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
}
.logo i{
    vertical-align: middle;
    margin-right: 8px;
    color: var(--main-color);

}
.navList{
    display: flex;
}
.navList a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0 30px;
    transition: all .50s ease;
}
.navList a:hover{
    color: var(--main-color);   
}
.navList a.active{
    color: var(--main-color);   
}
.nav-icons{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
}
.nav-icons i{
    vertical-align: middle;
    font-size: 25px;
    color: var(--bg-color);
    margin-left: 8px;
    margin-right: 5px;
    transition: all .50s ease;
}
#menu-icon{
    font-size: 32px;
    color: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
main{
    background-color:rgb(38, 37, 37);
}
section{
    padding: 70px 14% 60px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
.home-img img{
    width: 125%;
    height: auto;

}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2rem;
}
span{
    color: aqua;
}
.b1{
    display: inline-block;
    padding: 8px 15px;
    background: var(--other-color);
    color: aqua;
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    transition: all .50s ease;
}
.b1 i{
    vertical-align: middle;
    margin-left: 9px;font-size: 22px;
}
.b1:hover{
    background: rgb(223, 223, 97);
    color: var(--bg-color);
    box-shadow: aquamarine 0px 1px 25px;
}