<html>
    <head>
        <style>
            h1 {
                color: rgb(3, 67, 26);
            }

            body {
                text-align: center;
                color: rgb(87, 8, 118);
                background-color: rgb(156, 200, 236);
                padding: 20px;
                font-family: candara;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <h1>Employee login page</h1>
        <form action="/emp/login" method="POST">
        Username:<input type="text" name="username">
	<br><br>
        Password:<input type="password" name="Password">
	<br><br>
        <input type="submit" name="submit" value="Login">
        </form>
    </body>
</html>