<html>
    <head>
        <style>
            h1
            {
                color:rgb(3, 67, 26);
            }
            body 
            {
                text-align:center;
                color:rgb(87, 8, 118);
                background-color: rgb(156, 200, 236);
                padding: 20px;
                font-family:candara;
                font-size:30px;

            }
        </style>
    </head>
    <body>
        <h1>Student login page</h1>
        <form action="" method="post">
        Username:<input type="text" name="username">
	<br><br>
        Password:<input type="password" name="Password">
	<br><br>
        <input padding: 50px 50px;
        border: none;
        margin: 30px 30px;
        border-radius: 5px;type="submit" name="submit" value="Login">
        </form>
    </body>
</html>